# {{ ansible_managed }}

dcredit = {{ pam_pwquality_dcredit }}
dictpath = {{ pam_pwquality_dictpath if pam_pwquality_dictpath is defined else '' }}
difok = {{ pam_pwquality_difok }}
gecoscheck = {{ pam_pwquality_gecoscheck }}
lcredit = {{ pam_pwquality_lcredit }}
maxclassrepeat = {{ pam_pwquality_maxclassrepeat }}
maxrepeat = {{ pam_pwquality_maxrepeat }}
minclass = {{ pam_pwquality_minclass }}
minlen = {{ pam_pwquality_minlen }}
ocredit = {{ pam_pwquality_ocredit }}
ucredit = {{ pam_pwquality_ucredit }}
lcredit = {{ pam_pwquality_lcredit }}
ocredit = {{ pam_pwquality_ocredit }}
